.navbar-dark {
    display: flex;
    justify-content: flex-start;
    background-color: #070606 !important;
}

.nav {
    margin-left: auto;
}

.item {
    color: whitesmoke !important;
    border: lightgoldenrodyellow solid;
    border-radius: 8px;
    margin-right: 16px;
}

.item :hover {
    background-color: lightslategray;
}