.navbar-dark {
    /* flex: 1;
    display: flex;
    justify-content: flex-start; */
    width: 100%;
    background-color: #070606 !important;
    max-height: 62px;
}

.nav {
    margin-left: auto;
}

.item {
    color: whitesmoke !important;
    border: lightgoldenrodyellow solid;
    border-radius: 8px;
    margin-right: 16px;
}

.item :hover {
    background-color: lightslategray;
}