.tabs {
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.tab {
    background-color: yellow;
    width: 25vw;
    margin: 10px;
    
}

.tab:hover {
    background-color: palegoldenrod;
}

.input {
    height: 500px;
}

.input:hover {
    background-color: lightsalmon;
}
